{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.2.0/css/lightgallery-bundle.min.css" integrity="sha512-rYeyP/7l5e89ap2He13nzhq2ksCEvohMZOdbMVTodaAkkQjDKXd4PVgkHy4AOLlFoJarfc8F2H854DjOQa5qdg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.2.0/css/lg-thumbnail.min.css" integrity="sha512-GRxDpj/bx6/I4y6h2LE5rbGaqRcbTu4dYhaTewlS8Nh9hm/akYprvOTZD7GR+FRCALiKfe8u1gjvWEEGEtoR6g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.2.0/css/lg-autoplay.min.css" integrity="sha512-LlHSkMTvyRwh1YjzXwk6bxjdt3huGhCyK1vlCC6f7Db/g+2sYXz2YNasyZHnMUgykqPksmD/44DIINhqpWBjig==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.2.0/css/lg-fullscreen.min.css" integrity="sha512-JlgW3xkdBcsdFiSfFk5Cfj3sTgo3hA63/lPmZ4SXJegICSLcH43BuwDNlC9fqoUy2h3Tma8Eo48xlZ5XMjM+aQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.2.0/css/lg-zoom.min.css" integrity="sha512-SGo05yQXwPFKXE+GtWCn7J4OZQBaQIakZSxQSqUyVWqO0TAv3gaF/Vox1FmG4IyXJWDwu/lXzXqPOnfX1va0+A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <title>Portfolio-v2</title>
</head>
<body>
  <header>
    <div class="toggle">
      <i class="fas fa-bars"></i>
    </div>
    <div class="navigation">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="gallery.html">Gallery</a></li>
        <li><a href="#">Archives</a></li>
        <li><a href="blog.html">Blog</a></li>
        <li><a href="#">Contact Me</a></li>
      </ul>
    </div>
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>

  <footer>
    <div class="sm-links">
      <a href="#"><i class="fab fa-facebook-square"></i></a>
      <a href="#"><i class="fab fa-instagram-square"></i></a>
      <a href="#"><i class="fab fa-snapchat-square"></i></a>
      <a href="#"><i class="fab fa-twitter-square"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <p>&copy; 2021 Psychedelic Monkey</p>
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.2.0/lightgallery.umd.min.js" integrity="sha512-bhp5inhvpiZEMQu00PslokW9GxKeMo445BHaXOstEjQjWPzNSIcx+iW8lDZ3Q/0SC5xTX/diqRi780nADXea0w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.2.0/lightgallery.min.js" integrity="sha512-wS35bm4wRerHT4pd7T3W8ZVVtweBwkS/0TMhs7OoekrIAphl2nPqsFtbLQ1BPumsH3R/dkqvcBPA06SRtgyxyQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.2.0/plugins/thumbnail/lg-thumbnail.umd.min.js" integrity="sha512-v+/cnd6XTt28XV37rip+QRMB9OTYr90c3TxqNLLZZSH7cfoirS2N6bt9HRvlbyRnhco/vBK5pUCJdaIpS+fuhw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.2.0/plugins/thumbnail/lg-thumbnail.min.js" integrity="sha512-lb1dejulvDDLdybm5nKSQNq0ieqvAErJlunF6O0SICUZzF8UnXdQyrOyEnBzsGyQTXe5qnHeeFKJiCx3Kzo1Hw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.2.0/plugins/autoplay/lg-autoplay.umd.min.js" integrity="sha512-5DiWBC+iB5jOPTmGuevw+acUwQwPEr2mtb/wh5x395Ef6uww6Jzg0SaF4qfVLETpQP0lW9+KB2BEUeLfCvzrWw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.2.0/plugins/autoplay/lg-autoplay.min.js" integrity="sha512-aqkIhMSreRq5lZHOWy1jjo4dUY30RVizE/tjeKtPDqEI/It1ZiMjR05Ba4rC5YVwZ/flXhGEJ/nKgBg6UbHdrA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.2.0/plugins/fullscreen/lg-fullscreen.umd.min.js" integrity="sha512-dGfW9lO2V8b97RNde/J4UTz9JpGrdOy6Mmp87u6jksmHjoJf0wF9SFoBqf2PmPmm0BtqSHGSa2gN86cipQxkoA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.2.0/plugins/fullscreen/lg-fullscreen.min.js" integrity="sha512-GfxKtGD9fXFMB/ctXsy8UNd7lGoFLqluvAbWqz3bRfWruc3EsyW9txeFIXUPKdk3jgah9SZteZt3OSV2sdRBJA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.2.0/plugins/zoom/lg-zoom.umd.min.js" integrity="sha512-mDd2qoh/FeskZ95fjdvG2vlbq37UCiwfEkyoap1Vub9g8rBdd3ETzVp+AlLwV+pGVdXZCFjFIbsHq5zHvEO4Ng==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.2.0/plugins/zoom/lg-zoom.min.js" integrity="sha512-xWb9PdluFVMUplDHeQ7f48sgl8nx6+OfjvNJ1QKiVDeHQaoFndokj4GtbVjRomwruTNFALUcExNVjzlKy8HF0g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="{% static 'js/main.js' %}"></script>
  <script>
    lightGallery(document.querySelector('.gallery-grid'), {
      plugins: [lgFullscreen, lgThumbnail, lgZoom, lgAutoplay],
      speed: 500,
      download: false,
      slideShowAutoplay: true,
    })
  </script>
</body>
</html>