{% extends "gallery/base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock %}

{% block content %}
<section class="blog">
  <div class="preview" style="border: none;">
    <img src="{{ post.photos.first.image.url }}" alt="">
    <div class="text">
      <h3>{{ post.title }}</h3>
      <p class="date">{{ post.created_at|date:"M d, Y" }}</p>
      <p class="date">Last Updated: {{ post.updated_at|date:"M d, Y" }}</p>
      <div class="post-body">
        {{ post.body|linebreaks }}
      </div>
    </div>
  </div>
</section>

<section class="gallery">
  <div class="gallery-grid">
    {% for photo in post.photos.all %}
    <a href="{{ photo.image.url }}">
      <img src="{{ photo.image.url }}" alt="">
    </a>
    {% endfor %}
  </div>
</section>
{% endblock %}