.container {
  display: flex;
  justify-content: center;
  width: 60%;
  margin: auto;

  aside {
    width: 30%;
  }
}

.blog {
  width: 60%;

  .preview {
    margin: 42px 0 44px;
    border-bottom: 1px solid #777;

    img {
      height: 480px;
      object-fit: cover;
      box-shadow: 2px 3px 5px rgba($color: #000000, $alpha: 0.15);
    }

    h3 {
      margin-top: 10px;
      font-size: 2.4rem;
    }

    .date {
      font-weight: 500;
      margin: 15px 0;
    }
  }

  .btns {
    display: flex;
    align-items: center;
  }

  @media (max-width: 500px) {
    .btns {
      flex-direction: column;
    }
  }
}

.post-body {
  p {
    font-size: 1.2rem;
    margin: 22px 0;
  }
}

@media (max-width: 800px) {
  .container {
    width: 90%;

    .blog {
      .preview {
        img {
          height: 340px;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .container {
    flex-direction: column;
    align-items: center;

    .blog {
      width: 94%;

      .preview {
        margin: 8px 0 34px;

        img {
          height: 240px;
        }
      }
    }
  }
}

.sidebar {
  margin: 42px 0;

  h2 {
    font-size: 2.2rem;
  }

  ul {
    margin-left: 22px;
    font-size: 1.3rem;

    li.active {
      color: #ff0000;
    }

    li {
      margin: 4px 0;

      a:hover {
        color: #ff0000;
      }

      ul {
        margin-left: 22px;
      }
    }
  }
}

@media (max-width: 500px) {
  .sidebar {
    margin: -22px;
  }
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: center;
  gap: 22px;

  img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: 0.3s;
  }

  img:hover {
    box-shadow: 2px 5px 10px rgba($color: #000000, $alpha: 0.5);
  }
}
