$shadow: 2px 3px 5px rgba(#000000, 0.1);

// ABOUT ME SECTION

.about-me {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 22px;
  padding: 20px;

  h2 {
    font-size: 2.6rem;
    font-weight: 500;
  }

  img {
    height: 460px;
    object-fit: cover;
  }

  p {
    margin: 14px 0;
  }

  @media(max-width: 800px) {
    img {
      height: 260px;
    }
  }
}

@media(max-width: 500px) {
  .about-me {
    grid-template-columns: 1fr;
    padding: 0;

    h2 {
      font-size: 1.6rem;
    }
  }
}

// GALLERY SECTION

.gallery {
  text-align: center;

  h2 {
    font-size: 3.2rem;
    margin-bottom: 42px;
  }

  @media(max-width: 500px) {
    h2 {
      font-size: 1.8rem;
    }
  }
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: center;
  gap: 22px;

  img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: 0.3s;
  }

  img:hover {
    box-shadow: 2px 5px 10px rgba($color: #000000, $alpha: 0.5);
  }
}

// BLOG
.blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  .preview {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 22px;
    margin: 54px auto;
    box-shadow: $shadow;

    .text {
      padding: 22px;
    }

    h3 {
      font-size: 2.5rem;
      margin-bottom: 22px;
      font-weight: 300;
    }

    img {
      width: 100%;
      height: 450px;
      object-fit: cover;
    }
  }

  @media(min-width: 700px) {
    .preview:nth-child(even) {
      img {
        order: 2;
      }
  
      .text {
        text-align: end;
      }
    }
  }

  @media(max-width: 500px) {
    .preview {
      grid-template-columns: 1fr;
      margin: 22px;

      .text {
        text-align: center;
      }

      img {
        height: 220px;
      }
    }
  }
}

// CONTACT ME
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    font-size: 3.8rem;
    margin-bottom: 22px;
  }

  .subtitle {
    width: 80%;
    margin-bottom: 52px;
  }

  .form {
    background-color: #f9f9f9;
    width: 80%;
    padding: 40px;
  }

  form {
    width: 100%;
  }

  .row {
    display: flex;
    position: relative;
    width: 100%;
    margin: 10px 0;
  }

  .col-50 {
    width: 50%;
    margin: 0 10px;
  }

  .col-100 {
    width: 100%;
    margin: 0 10px;
  }

  .row input, textarea {
    position: relative;
    width: 100%;
    padding: 10px;
    font-size: 1.3rem;
    border: 1px solid #777;
    outline: none;
    resize: none;
  }

  .row textarea {
    height: 200px;
  }

  input[type="submit"] {
    cursor: pointer;
    width: 100%;
    padding: 14px 10px;
    font-size: 1.4rem;
    color: #f1f1f1;
    background-color: rgb(63, 63, 211);
    margin-top: 22px;
    border: none;
    transition: 0.3s;
  }

  input[type="submit"]:hover {
    color: rgb(63, 63, 211);
    background-color: #f1f1f1;
  }

  @media(max-width: 500px) {
    h2 {
      font-size: 2.0rem;
    }

    .form {
      width: 100%;
      padding: 20px;
    }

    .row {
      flex-direction: column;
      align-items: center;
    }

    .col-50 {
      width: 100%;
      margin: 10px 0;
    }
  }
}