@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Quicksand:wght@300;400;500;600;700&display=swap');

$shadow: 2px 3px 5px rgba(#000000, 0.1);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5 {
  color: #111;
  font-family: 'Indie Flower', cursive;
}

p, a, ul, ol, input, textarea {
  color: #333;
  font-family: 'Quicksand', sans-serif;
}

img {
  width: 100%;
}

.btn {
  display: inline-block;
  font-size: 1.3rem;
  color: #f1f1f1;
  background-color: #333;
  text-decoration: none;
  padding: 22px 32px;
  margin: 26px auto;
  transition: 0.3s;
}

.btn:hover {
  color: #333;
  background-color: #f1f1f1;
}

// HEADER
header {
  .toggle {
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 0;
    font-size: 30pt;
    color: #fff;
    background-color: #ff0000;
    padding: 10px 20px;
    box-shadow: $shadow;
    z-index: 50;
  }

  .navigation {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 20;

    ul {
      list-style: none;

      li {
        a {
          font-size: 3.5rem;
          text-decoration: none;
        }

        a:hover {
          color: #777;
        }
      }
    }
  }

  .navigation.active {
    left: 0;
  }
}

// SECTION
.section-header {
  height: 45vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  h2 {
    color: #f9f9f9;
    font-size: 5.4rem;
    position: absolute;
    z-index: 10;
    text-shadow: 0 2px 5px rgba($color: #000000, $alpha: 1.0);
  }
}

.section-header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #fff, $alpha: 0.35);
}

@media(max-width: 800px) {
  .section-header {
    height: 25vh;
    background-attachment: initial;

    h2 {
      font-size: 3.4rem;
    }
  }
}

.landing-header {
  height: 100vh;

  h2 {
    padding: 20px 30px;
    background-color: #333;
  }
}

@media(max-width: 500px) {
  .landing-header {
    h2 {
      margin: 0 22px;
    }
  }
}

// ABOUT ME SECTION

section {
  width: 65%;
  margin: 44px auto;
}

@media(max-width: 800px) {
  section {
    width: 88%;
  }
}

.about-me {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 22px;
  padding: 20px;

  h2 {
    font-size: 2.6rem;
    font-weight: 500;
  }

  .subtitle {
    font-style: italic;
    font-size: 1.3rem;
    font-weight: 300;
  }

  img {
    height: 460px;
    object-fit: cover;
  }

  p {
    margin: 14px 0;
  }

  @media(max-width: 800px) {
    img {
      height: 260px;
    }
  }
}

@media(max-width: 500px) {
  .about-me {
    grid-template-columns: 1fr;
    padding: 0;

    h2 {
      font-size: 1.6rem;
    }
  }
}

// GALLERY SECTION

.gallery {
  text-align: center;

  h2 {
    font-size: 3.2rem;
    margin-bottom: 42px;
  }

  @media(max-width: 500px) {
    h2 {
      font-size: 1.8rem;
    }
  }
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: center;
  gap: 22px;

  img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: 0.3s;
  }

  img:hover {
    box-shadow: 2px 5px 10px rgba($color: #000000, $alpha: 0.5);
  }
}
